# .gitignore

# Ignore the example directory for robot URDFs
robots/

# Ignore the build directory and compiled binaries
build/
externals/

# Ignore backup files
*.bak
*.swp
*~

# Ignore log file
*.json
*.cereal


# Ignore other files
*.pyc
*DS_Store
*snopt.out
*.ipynb_checkpoints
