[submodule "externals/filesystem"]
	path = externals/filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "externals/libfranka"]
	path = externals/libfranka
	url = https://github.com/frankaemika/libfranka
